{% extends "base.html" %}
{% load static %}
{% block script %}
<head>
    <link rel="stylesheet" href="{% static 'buy/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'buy/css/custom.css' %}">
</head>
{% endblock %}
{% block nav %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/lp.png' %}" alt="YAKSH">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'yaksh:index' %}"><i class="fa fa-university" style="size: 18px"></i>&nbsp;Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'yaksh:index' %}"><i class="fa fa-bar-chart" style="size: 18px"></i>&nbsp;Results</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'letsprepare:buy' %}"><i class="fa fa-unlock" style="size: 18px"></i>&nbsp;Unlock Tests</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="submenu">
                            <img src="{% static 'buy/img/cart2.png' %}" id="img-cart">
                <div id="shopping-cart" style="overflow:scroll; height:400px;">
                                    <table id="cart-content" class="u-full-width">
                                        <thead>
                                            <tr>
                                                <th>Quiz Code</th>
                                                <th>Price</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <br>

                                    <a href="#" id="clear-cart" class="button2 u-full-width">Clear Cart</a>
                                    <br>
                                    <br>
                                    {% if user.is_authenticated %}
                                    <a href="#" id="cart-checkout" class="button2 u-full-width" style="background-color: #33C3F0;">Checkout</a>
                                    {% else %}
                                    <a href="/exam/login/?next=/letsprepare/show_modules/" id="cart-checkout_" class="button2 u-full-width" style="background-color: #33C3F0;">Login to Buy</a>
                                    {% endif %}
                            </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown my-lg-0" style="font-size: 1.2rem">
                <a class="dropdown-toggle nav-link" id="user_dropdown" data-toggle="dropdown" href="#">{{user.get_full_name|title}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'yaksh:edit_profile' %}">
                    <i class="fa fa-user"></i>  My Profile
                </a>
                <div class="dropdown-divider"></div>
                {% if user.profile.is_moderator %}
                    <a class="dropdown-item" href="{% url 'yaksh:toggle_moderator' %}"><i class="fa fa-exchange"></i>
                        Switch To Moderator
                    </a>
                    <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'password_change' %}">
                    <i class="fa fa-key"></i> Change Password
                </a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="user_logout" href="{% url 'yaksh:logout' %}">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}
  {% block main %}
    <div id="courses-list" class="container">

               {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">
            <i class="fa fa-close"></i>
        </button>
        <strong>{{ message }}</strong>
    </div>
    <br>
    {% endfor %}
    {% endif %}

        <div class="row justify-content-md-center align-items-center" >
        <div class="col-md-12">
            <div id="accordian">
            {% for module in modules %}
                <div class="card">
                    <div class="card-header" data-toggle="collapse" href="#collapse{{module.id}}"><i id="toggle_course_{{module.id}}"></i>
                        <div class="row">
                            <div class="col-md-10">{{module.name}}</div>
                            <div class="col-md-2">Rs. <strike>{{ module.org_price }}</strike> {{ module.price }}</div>
                        </div>
                    </div>
                    <div id="collapse{{module.id}}" class="collapse hide" data-parent="#accordion">
                        <div class="card-body">
                            <center><a href="#" class="btn btn-success btn-lg input add-to-cart module-on-sale">BUY COMPLETE MODULE</a></center>
                            <br>
                            {% for quiz in module.quizzes %}


                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                {{ quiz.code }}
                            </div>
                            <div class="col-md-4">
                                {{ quiz.name }}
                            </div>
                            <div class="col-md-3">
                                Rs. <strike>{{ quiz.org_price }}</strike> {{ quiz.price }}
                            </div>
                            <div style = "display:none">
                                {{ quiz.id }}
                            </div>
                            <div style = "display:none">
                                {{ quiz.available }}
                            </div>
                            {% if quiz.available %}
                            <div>
                                <p class="fa fa-check-circle col-md-1 u-full-width" style="color:#4BB04F;" data-id="1"></p>
                            </div>
                            {% else %}
                            <div>
                                <a href="#" class="fa fa-cart-plus col-md-1 u-full-width button-primary button input add-to-cart quiz-on-sale" data-id="1"></a>
                            </div>
                            {% endif %}
                    </div>
                </div>
                </div>
                            <br>





<!--                            <div class="row">-->
<!--                                <div class="col-md-8">-->
<!--                                    {{ quiz.name }}-->
<!--                                </div>-->
<!--                                <div class="col-md-4">-->
<!--                                    BUY-->
<!--                                </div>-->
<!--                            </div>-->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

    <script src="{% static 'buy/js/app.js' %}"></script>
    {% endblock %}
  {% endblock %}
