{% extends "base.html" %}

{% block title %} {{questionpaper.quiz.description}} {% endblock %}
{% block pagetitle %} Quiz Instructions and Rules {% endblock pagetitle %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      {{questionpaper.quiz.description}}
    </div>
    <div class="card-body">
      <p>
        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ----- Test details -----</span></strong></p>
<ul>
    <li><span style='font-family:"Times New Roman";font-size:13.0pt;'>Number of Questions &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;25</span></li>
    <li><span style='font-family:"Times New Roman";font-size:13.0pt;'>Time Limit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;20 minutes</span></li>
    <li><span style='font-family:"Times New Roman";font-size:13.0pt;'>Total score &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 25</span></li>
</ul>
<p><span style="font-size:17px;">(No negative marking)</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;">Instructions:</span></strong></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>Timer will start once you click the<span style="font-size:17px;">&nbsp;<strong>&quot;Start&quot;</strong> button.</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;">Navigate between questions in &ldquo;<strong>Question Navigator</strong>&rdquo; section</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;">Click on &ldquo;<strong>attempt later&rdquo;&nbsp;</strong>to try the question later.</span></p>
<p style="margin: 0cm 0cm 8pt; font-size: 15px; font-family: Calibri, sans-serif; line-height: 1.5;"><span style="font-size:17px;">On top right corner you can find timer. The test will be automatically submitted when the allotted time is over.&nbsp;</span></p>
<p style="margin: 0cm 0cm 8pt; font-size: 15px; font-family: Calibri, sans-serif; line-height: 1.5;"><span style="font-size:17px;">If you finish before the time limit, click <strong>&quot;SUBMIT EXAM&quot;</strong> button. Scroll down on Submission status page and click on <strong>&ldquo;YES&rdquo;</strong> for final submission. Click on <strong>&ldquo;NO&rdquo;</strong> to go back to the test.</span></p>
<p style="margin: 0cm 0cm 8pt; font-size: 15px; font-family: Calibri, sans-serif; line-height: 1.5;"><span style="font-size:17px;line-height:107%;">View the test analysis and Solutions for the questions in &ldquo;<strong>Results&rdquo;&nbsp;</strong>section.&nbsp;</span></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><br></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;line-height:107%;">NOTE</span></u></strong><span style="font-size:17px;line-height:107%;">: If you are on mobile phone, click three rows (&nbsp;</span><span style='font-size:16px;line-height:107%;font-family:"Arial",sans-serif;color:#222222;background:white;'>&equiv;&nbsp;</span><span style="font-size:17px;line-height:107%;">) on top right corner to access &ldquo;<strong>Results&rdquo;&nbsp;</strong>section.</span></p>
      </p>
      <div class="row">
        <div class="col-md-6">
          <center>
            {% if status != "moderator" %}
              <a href="{% url 'yaksh:view_module' module.id course.id %}" class="btn btn-primary btn-lg" name="home">
                <i class="fa fa-step-backward"></i>
                Go Back
              </a>
            {% else %}
              <a href="{% url 'yaksh:index' %}" class="btn btn-primary btn-lg" name="home">
                <i class="fa fa-step-backward"></i>
                Go Back
              </a>
            {% endif %}
          </center>
        </div>
        <div class="col-md-6">
          {% if not questionpaper.quiz.is_expired %}
              <form action="{% url 'yaksh:start_quiz' attempt_num module.id questionpaper.id course.id %}" method="post" align="center">
               {% csrf_token %}
                <button class="btn btn-success btn-lg" type="submit" name="start">
                  Start <i class="fa fa-play"></i>
                </button>
              </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
