{% extends "base.html" %}
{% load static %}

{% block title %} Register {% endblock %}
{% block pagetitle %} Registration {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/lp.png' %}" alt="LETSPREPARE">
    </a>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center form-group">
        <div class="col-md-4 col-md-offset-4">
            <form action="" method="post">
                <fieldset>
                    {% csrf_token %}
                    <center>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <i class="fa fa-close"></i>
                                        </button>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-dismissible alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="fa fa-close"></i>
                                    </button>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% for field in form %}
                            <td>{{ field }} <small>{{ field.help_text }}</small></td>
                            <br>
                        {% endfor %}
                        <input type="checkbox" id="tnc" name="tnc_name">&nbsp;&nbsp;
                        <label for="tnc">I agree to the <a href="/terms/">terms and conditions.</a></label><br>
                    </center>
                    <center>
                        <button id="send-otp" class="btn btn-warning btn-lg" type="button">
                            Get OTP
                        </button>
                        <button id="submit-form" class="btn btn-success btn-lg" type="submit" style="display:none;">
                            Register
                        </button>
                        <a href="{% url 'yaksh:index' %}" class="btn btn-primary btn-lg">
                            Cancel
                        </a>
                    </center>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    sendOtpBtn=document.querySelector('#send-otp');
    loadEventListeners();
    function loadEventListeners(){
    sendOtpBtn.addEventListener('click', sendOtp);}
    function sendOtp(e){
    if(!$('#tnc').is(":checked")){
    alert("Please agree to the terms and conditions.");
    return;
    }
    username = $("#id_username").val().length
    email = $("#id_email").val().length
    password = $("#id_password").val().length
    confirm_password = $("#id_confirm_password").val().length
    first_name = $("#id_first_name").val().length
    last_name = $("#id_last_name").val().length
    country_code = $("#id_country_code").val().length
    phone_number = $("#id_phone_number").val().length

    if(username == 0 ||
        email==0 ||
        password==0 ||
        confirm_password==0 ||
        first_name==0 ||
        last_name==0 ||
        country_code==0 ||
        phone_number==0
    ) {
    alert("Fill all the below fields.");
    return;}

    country_code = $("#id_country_code").val()
    phone_number = $("#id_phone_number").val()
    student_number = "+".concat(country_code.split("-")[1]).concat(phone_number)

    submitData = {'number' : student_number}

    $.post("/letsprepare/send_otp/",
  {
    data: JSON.stringify(submitData)
  },
  function(data){
    key = Object.keys(data)[0]
    value = Object.values(data)[0]
    if (key == "SENT"){

    if ($.trim($("#send-otp").text()) == "Resend OTP"){
      $("#send-otp").attr("style", "visibility: hidden")
    }
    if ($.trim($("#send-otp").text()) ==  "Get OTP"){
      $("#send-otp").text("Resend OTP");
    }

        var i = 2;
        while(i > 0) {
            var otp = window. prompt("Please enter OTP sent to your mobile number: ");
            if(value == otp) {
               i = -1
               $("#submit-form").click();
            }
            else {
            alert("Incorrect OTP!!");
                i = i-1;

            if (i==0 && $("#send-otp").css("visibility")=="hidden"){
            window.location.href = "/";
            }
        }
    }}
    else {
    alert("Please enter a valid mobile number.");}
  });

}
</script>
{% endblock content %}
