{% extends "base.html" %}
{% load static %}

{% block title %} Forgot Password {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/lp.png' %}" alt="LETSPREPARE">
    </a>
</nav>
{% endblock %}

{% block content %}

<div class="alert alert-dismissible alert-{{ message.tags }}">
    <button type="button" class="close" data-dismiss="alert">
        <i class="fa fa-close"></i>
    </button>
    <strong>{{ message }}</strong>
</div>
<br>

<center>
<h4>Enter your registered contact number to reset your password</h4>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-6">
            <div class="card border-primary">
                <div class="card-header"><h3>Forgot Password?</h3></div>
                <div class="card-body">
                    <div class="form-group">
                        <form name=frm action="{% url 'reset_password' %}" method="post">
                            <br>
                        {% for field in form %}
                            <td>{{ field }} <small>{{ field.help_text }}</small></td>
                            <br>
                        {% endfor %}                            <br>
                            <button class="btn btn-success btn-lg" type="submit">
                                Request
                            </button>
                            <a href="{% url 'yaksh:index' %}" class="btn btn-primary btn-lg">
                                Cancel
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</center>
{% endblock content %}
