{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html>
  <head>
      {% block topfiles %}
      {% endblock %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Prepare for PCS or State PSC exams like UPPCS, BPSC, RPSC, MPPSC and JPSC with your personal AI guide.{% endblock %}</title>
      <script src="{% static 'new_homepage/vendor/js/jquery.min.js' %} "></script>
      <link rel="stylesheet" href="{% static 'new_homepage/vendor/css/bootstrap.min.css' %}" type="text/css">
      <script src="{% static 'new_homepage/vendor/js//bootstrap.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'new_homepage/vendor/css/font-awesome.css' %}"type="text/css">
      <link rel="shortcut icon" href="{% static 'new_homepage/images/favicon.svg' %}" type="image/x-icon"/>
      <script src="{% static 'new_homepage/vendor/js/main.js' %}"></script>
      <script src="{% static 'new_homepage/vendor/js/navdata.js' %}"></script>
      <link rel="stylesheet" href="{% static 'new_homepage/vendor/css/style.css' %}" type="text/css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


      {% block head %}
      {% endblock %}
  </head>
  <body>
{% block navbar %}
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container-xl">
      <a href="{% url 'yaksh:index' %}" class="navbar-brand">
        <img src=" {% static 'new_homepage/images/favicon.svg' %} " height="35" width="35">Mission PCS
      </a>
      <div class="navbar-right ml-auto mr-2 d-lg-none" id="mob-user">
        {% if user.is_authenticated %}
        <a href="{% url 'yaksh:logout' %}" class="login-register">Logout</a>
        {% else %}
        <button class="login-register border-0">Login/Register</button>
        {% endif %}
      </div>
      <button class="navbar-toggler px-2" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'yaksh:index' %}" class="nav-link"><i class="fa fa-university" style="size: 18px"></i>&nbsp;Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'letsprepare:results' %}" class="nav-link"><i class="fa fa-bar-chart" style="size: 18px"></i>&nbsp;Results</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'letsprepare:buy' %}" class="nav-link"><i class="fa fa-unlock" style="size: 18px"></i>&nbsp;Unlock Tests</a>
              </li>
              {% else %}
                <li class="nav-item drop-down">
                    <a href="#" class="nav-link">Exams<span class="fa fa-chevron-down"></span></a>
                    <ul id="courses-drop" class="dropdown-content">
                    </ul>
                </li>
                <li class="nav-item drop-down">
                    <a href="#" class="nav-link">Subjects<span class="fa fa-chevron-down"></span></a>
                    <ul id="subjects-drop" class="dropdown-content">

                    </ul>
                </li>
                <li class="nav-item drop-down">
                    <a href="#" class="nav-link">Test Series<span class="fa fa-chevron-down"></span></a>
                    <ul id="test-se-drop" class="dropdown-content">

                    </ul>
                </li>
                <li class="nav-item drop-down">
                    <a href="#" class="nav-link">Previous Year Paper<span class="fa fa-chevron-down"></span></a>
                    <ul id="prev-year-drop" class="dropdown-content">

                    </ul>
                </li>
                {% endif %}
            </ul>
            <form class="search-bar mb-3 mb-lg-0">
                <input type="text" placeholder="Search...">
                <button type="submit" class="fa fa-search"></button>
            </form>
        </div>
        <div class="navbar-right ml-auto mr-2 d-none d-lg-block" id="pc-user">
          <ul class="navbar-nav ml-auto" id="drop-user">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown my-lg-0" id="user_options" style="font-size: 1.2rem">
                <a class="dropdown-toggle nav-link justify-content-center" id="user_dropdown" data-toggle="dropdown" href="#"><i class="fa fa-user-circle-o"></i>&nbsp;{{user.get_full_name|title}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'yaksh:edit_profile' %}">
                    <i class="fa fa-user"></i>  My Profile
                </a>
                <div class="dropdown-divider"></div>
                {% if user.profile.is_moderator %}
                    <a class="dropdown-item" href="{% url 'yaksh:toggle_moderator' %}"><i class="fa fa-exchange"></i>
                        Switch To Moderator
                    </a>
                    <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url 'password_change' %}">
                    <i class="fa fa-key"></i> Change Password
                </a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="user_logout" href="{% url 'yaksh:logout' %}">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </div>
            </li>
            {% else %}
            <button class="login-register border-0">Login/Register</button>
            {% endif %}
        </ul>
        <!-- {% if user.is_authenticated %}
        <a href="{% url 'yaksh:logout' %}" class="btn btn-secondary">Logout</a>

        {% else %}
        <button class="login-register border-0">Login/Register</button>
        {% endif %} -->
        </div>
    </div>
  </nav>
  <div class="login-register-popup" id="login-register-popup">
    <div class="login-section">
      <button class="close-btn">&Cross;</button>
      <h5>Welcome Back,</h5>
      <a href="#" class="signup-btn">Sign Up</a>
      <p class="mb-5">Sign in to continue</p>
      {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}

      <form class="needs-validation" action="{% url 'yaksh:login' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}" />
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-weight: 700;">@</span>
          </div>
          <input type="text" name="username" value="{{ username }}" class="form-control" placeholder="Username" required>
        </div>
      
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock m-auto"></i></span>
          </div>
          <input name="password" type="password" class="form-control" placeholder="Password" required>
        </div>
        <input type="submit" name="sub" value="Sign In" class="btn btn-primary btn-block my-3 sign-btn"/>
      </form>
      <p class="text-center" style="font-size: 16px;">-OR-</p>
      <a href='{% provider_login_url "google" %}'><button class="social-sign-btn">
        <svg height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg" style="margin-bottom:1px; float:left;">
          <g fill="none" fill-rule="evenodd"><path d="M482.56 261.36c0-16.73-1.5-32.83-4.29-48.27H256v91.29h127.01c-5.47 29.5-22.1 54.49-47.09 71.23v59.21h76.27c44.63-41.09 70.37-101.59 70.37-173.46z" fill="#4285f4"></path><path d="M256 492c63.72 0 117.14-21.13 156.19-57.18l-76.27-59.21c-21.13 14.16-48.17 22.53-79.92 22.53-61.47 0-113.49-41.51-132.05-97.3H45.1v61.15c38.83 77.13 118.64 130.01 210.9 130.01z" fill="#34a853"></path><path d="M123.95 300.84c-4.72-14.16-7.4-29.29-7.4-44.84s2.68-30.68 7.4-44.84V150.01H45.1C29.12 181.87 20 217.92 20 256c0 38.08 9.12 74.13 25.1 105.99l78.85-61.15z" fill="#fbbc05"></path><path d="M256 113.86c34.65 0 65.76 11.91 90.22 35.29l67.69-67.69C373.03 43.39 319.61 20 256 20c-92.25 0-172.07 52.89-210.9 130.01l78.85 61.15c18.56-55.78 70.59-97.3 132.05-97.3z" fill="#ea4335"></path><path d="M20 20h472v472H20V20z"></path></g>
        </svg>
          </i> Sign In with Google</button></a>
        <a href="#" class="forgot-pass" style="font-weight: 600;">Forgot ID/Password ?</a>
    </div>
    <div class="register-section">
        <button class="close-btn">&Cross;</button>
      <h5>Welcome Back,</h5>
      <a href="#" class="signin-btn">Sign In</a>
      <p class="mb-5">Sign Up to continue</p>
      {% if regerror %}
      <div class="alert alert-danger" role="alert">{{ regerror }}</div>
      {% endif %}
      <form class="needs-validation" action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}" />
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-weight: 700;">@</span>
          </div>
          <input type="text" id="id_username" name="username" value="{{ username }}" class="form-control" placeholder="Username" required>
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope-o m-auto"></i></span>
          </div>
          <input type="text" id="id_email" name="email" class="form-control" value="{{ email }}" placeholder="Email" required>
        </div>
      
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock m-auto"></i></span>
          </div>
          <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
        </div>
        
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock m-auto"></i></span>
          </div>
          <input type="password" id="id_confirm_password" name="confirmation" class="form-control" placeholder="Confirm Password" required>
        </div>

        
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user-o m-auto"></i></span>
          </div>
          <input type="text" id="id_first_name" value="{{ firstname }}" name="firstname" class="form-control" placeholder="First Name" required>
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user-o m-auto"></i></span>
          </div>
          <input type="text" name="lastname" value="{{ lastname }}" id="id_last_name" class="form-control" placeholder="Last Name" required>
        </div>

        <select name="country_code" id="id_country_code" class="form-control mb-4" placeholder="country code" id="id_country_code">
          <option value="IN-91" selected="">India (+91)</option>
        
        </select>
        
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-phone m-auto"></i></span>
          </div>
          <input type="text" id="id_phone_number" value="{{ phone_number }}" name="phone-number" class="form-control" placeholder="Phone Number" required>
        </div>

        <div class="d-flex align-items-center justify-content-around">
          <input type="checkbox" name="tnc_name" id="tnc">
          <label for="tnc" class="mb-0">I agree to the <a href="/terms/">terms and conditions.</a></label>
        </div>
        
        <button id="send-otp" class="btn btn-primary btn-block my-3 sign-btn" type="button">
          Get OTP
        </button>
        <input id="submit-form" type="submit" name="sub" value="Sign Up" style="display: none;" class="btn btn-primary btn-block my-3 sign-btn"></input>
      </form>
      <p class="text-center" style="font-size: 16px;">-OR-</p>
      <a href='{% provider_login_url "google" %}'><button class="social-sign-btn">
        <svg height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg" style="margin-bottom:1px; float:left;">
          <g fill="none" fill-rule="evenodd"><path d="M482.56 261.36c0-16.73-1.5-32.83-4.29-48.27H256v91.29h127.01c-5.47 29.5-22.1 54.49-47.09 71.23v59.21h76.27c44.63-41.09 70.37-101.59 70.37-173.46z" fill="#4285f4"></path><path d="M256 492c63.72 0 117.14-21.13 156.19-57.18l-76.27-59.21c-21.13 14.16-48.17 22.53-79.92 22.53-61.47 0-113.49-41.51-132.05-97.3H45.1v61.15c38.83 77.13 118.64 130.01 210.9 130.01z" fill="#34a853"></path><path d="M123.95 300.84c-4.72-14.16-7.4-29.29-7.4-44.84s2.68-30.68 7.4-44.84V150.01H45.1C29.12 181.87 20 217.92 20 256c0 38.08 9.12 74.13 25.1 105.99l78.85-61.15z" fill="#fbbc05"></path><path d="M256 113.86c34.65 0 65.76 11.91 90.22 35.29l67.69-67.69C373.03 43.39 319.61 20 256 20c-92.25 0-172.07 52.89-210.9 130.01l78.85 61.15c18.56-55.78 70.59-97.3 132.05-97.3z" fill="#ea4335"></path><path d="M20 20h472v472H20V20z"></path></g>
        </svg>
          </i> Sign Up with Google</button></a>
        <a href="#" class="forgot-pass" style="font-weight: 600;">Forgot ID/Password ?</a>
    </div>
  </div>
{% endblock %}

        {% block content %}
        {% endblock %}

  {% block footer %}
<footer class="page-footer font-small stylish-color-dark pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Mission PCS</h5>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fa fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fa fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fa fa-instagram"> </i>
            </a>
          </li>
        </ul>
        <p>We are 100% online. Please keep visiting!!</p>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">Take a tour</a>
          </li>
          <li>
            <a href="#c-affairs">Current Affairs</a>
          </li>
          <li>
            <a href="#exam">Select Your Exam</a>
          </li>
          <li>
            <a href="#test-series">Test Series</a>
          </li>
          <li>
            <a href="#updates">Latest Updates</a>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nav Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Exams</a>
          </li>
          <li>
            <a href="#!">Subjects</a>
          </li>
          <li>
            <a href="#">Test Series</a>
          </li>
          <li>
            <a href="#">Previous Year Papers</a>
          </li>
        </ul>

      </div>

    </div>

  </div>

  <hr>

  <div class="footer-copyright text-center py-3"><a href="https://missionpcs.com/">MissionPCS.com</a> © 2020 Copyright | All Right Reserved
  </div>

</footer>
{% endblock %}

  {% block script %}

{% endblock %}

  </body>
  <script>
  // for setting up ajax here.

const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

  </script>
  {% if error %}
  <script>
  $(document).ready(function(){
    $("#login-register-popup").show();
  });
</script>
  {% endif %}
  {% if regerror %}
  <script>
    $(document).ready(function(){
      $("#login-register-popup").show();
      $(".login-section").hide();
    $(".register-section").show();
    });
  </script>
  {% endif %}
  <script>
  sendOtpBtn=document.querySelector('#send-otp');
    loadEventListeners();
    function loadEventListeners(){
    sendOtpBtn.addEventListener('click', sendOtp);}
    function sendOtp(e){
    if(!$('#tnc').is(":checked")){
    alert("Please agree to the terms and conditions.");
    return;
    }
    username = $("#id_username").val().length
    email = $("#id_email").val().length
    password = $("#id_password").val().length
    confirm_password = $("#id_confirm_password").val().length
    first_name = $("#id_first_name").val().length
    last_name = $("#id_last_name").val().length
    country_code = $("#id_country_code").val().length
    phone_number = $("#id_phone_number").val().length

    if(username == 0 ||
        email==0 ||
        password==0 ||
        confirm_password==0 ||
        first_name==0 ||
        last_name==0 ||
        country_code==0 ||
        phone_number==0
    ) {
    alert("Fill all the below fields.");
    if(password!=confirm_password){
      alert("Password didn't match");
    }
    return;}

    country_code = $("#id_country_code").val()
    phone_number = $("#id_phone_number").val()
    student_number = "+".concat(country_code.split("-")[1]).concat(phone_number)

    submitData = {'number' : student_number}
<!--  console.log("point 4");-->
  $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
   $.post("/letsprepare/send_otp/",
  {

    data: JSON.stringify(submitData)

  },

  function(data){
<!--  console.log("point 5");-->
    key = Object.keys(data)[0]
    value = Object.values(data)[0]
    if (key == "SENT"){

    if ($.trim($("#send-otp").text()) == "Resend OTP"){
      $("#send-otp").attr("style", "visibility: hidden")
    }
    if ($.trim($("#send-otp").text()) ==  "Get OTP"){
      $("#send-otp").text("Resend OTP");
    }

        var i = 2;
        while(i > 0) {
            var otp = window. prompt("Please enter OTP sent to your mobile number: ");
            if(value == otp) {
               i = -1

               $("#submit-form").click();
            }
            else {
            alert("Incorrect OTP!!");
                i = i-1;

            if (i==0 && $("#send-otp").css("visibility")=="hidden"){
            window.location.href = "/";
            }
<!--            console.log("point 6");-->
        }
    }}
    else {
    alert("Please enter a valid mobile number.");}
  });

}
  </script>


</html>