yaksh/migrations/__pycache__/0006_auto_20200822_1227.cpython-38.pyc
yaksh/pipeline/__pycache__/settings.cpython-38.pyc
yaksh/pipeline/__pycache__/__init__.cpython-38.pyc
yaksh/migrations/__pycache__/0005_profile_full_access.cpython-38.pyc
yaksh/migrations/__pycache__/0004_auto_20200719_2058.cpython-38.pyc
yaksh/migrations/__pycache__/0003_auto_20200712_1132.cpython-38.pyc
yaksh/migrations/__pycache__/0002_auto_20200709_2026.cpython-38.pyc
yaksh/migrations/__pycache__/0001_initial.cpython-38.pyc
yaksh/migrations/__pycache__/__init__.cpython-38.pyc
yaksh/migrations/0006_auto_20200822_1227.py
yaksh/middleware/__pycache__/user_time_zone.cpython-38.pyc
yaksh/middleware/__pycache__/one_session_per_user.cpython-38.pyc
yaksh/middleware/__pycache__/get_notifications.cpython-38.pyc
yaksh/middleware/__pycache__/__init__.cpython-38.pyc
yaksh/management/__pycache__/__init__.cpython-38.pyc
yaksh/__pycache__/views.cpython-38.pyc
yaksh/__pycache__/urls.cpython-38.pyc
yaksh/__pycache__/tasks.cpython-38.pyc
yaksh/__pycache__/settings.cpython-38.pyc
yaksh/__pycache__/send_emails.cpython-38.pyc
yaksh/__pycache__/models.cpython-38.pyc
yaksh/__pycache__/language_registry.cpython-38.pyc
yaksh/__pycache__/grader.cpython-38.pyc
yaksh/__pycache__/forms.cpython-38.pyc
yaksh/__pycache__/file_utils.cpython-38.pyc
yaksh/__pycache__/error_messages.cpython-38.pyc
yaksh/__pycache__/decorators.cpython-38.pyc
yaksh/__pycache__/code_server.cpython-38.pyc
yaksh/__pycache__/admin.cpython-38.pyc
yaksh/__pycache__/__init__.cpython-38.pyc
online_test/__pycache__/wsgi.cpython-38.pyc
online_test/__pycache__/views.cpython-38.pyc
online_test/__pycache__/urls.cpython-38.pyc
online_test/__pycache__/settings.cpython-38.pyc
online_test/__pycache__/celery_settings.cpython-38.pyc
online_test/__pycache__/__init__.cpython-38.pyc
letsprepare/migrations/__pycache__/0005_auto_20200714_2049.cpython-38.pyc
letsprepare/migrations/__pycache__/0004_auto_20200714_2035.cpython-38.pyc
letsprepare/migrations/__pycache__/0003_auto_20200714_2025.cpython-38.pyc
letsprepare/migrations/__pycache__/0002_auto_20200714_1905.cpython-38.pyc
letsprepare/migrations/__pycache__/0001_initial.cpython-38.pyc
letsprepare/migrations/__pycache__/__init__.cpython-38.pyc
letsprepare/__pycache__/views.cpython-38.pyc
letsprepare/__pycache__/urls.cpython-38.pyc
letsprepare/__pycache__/serializers.cpython-38.pyc
letsprepare/__pycache__/models.cpython-38.pyc
letsprepare/__pycache__/apps.cpython-38.pyc
letsprepare/__pycache__/admin.cpython-38.pyc
letsprepare/__pycache__/__init__.cpython-38.pyc
grades/migrations/__pycache__/0001_initial.cpython-38.pyc
grades/migrations/__pycache__/__init__.cpython-38.pyc
grades/__pycache__/views.cpython-38.pyc
grades/__pycache__/urls.cpython-38.pyc
grades/__pycache__/models.cpython-38.pyc
grades/__pycache__/forms.cpython-38.pyc
grades/__pycache__/admin.cpython-38.pyc
grades/__pycache__/__init__.cpython-38.pyc
api/__pycache__/views.cpython-38.pyc
api/__pycache__/urls.cpython-38.pyc
api/__pycache__/serializers.cpython-38.pyc
api/__pycache__/__init__.cpython-38.pyc
yaksh/templatetags/__pycache__/test_custom_filters.cpython-38.pyc
yaksh/templatetags/__pycache__/custom_filters.cpython-38.pyc
yaksh/templatetags/__pycache__/__init__.cpython-38.pyc
cert.crt
cert.key
.idea/.gitignore
.idea/misc.xml
.idea/missionpcs_dev.iml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
.vscode/launch.json
.idea/modules.xml
.idea/vcs.xml
grades/tests/__pycache__/test_models.cpython-38-pytest-5.4.3.pyc
grades/tests/__pycache__/test_views.cpython-38-pytest-5.4.3.pyc
letsprepare/migrations/0001_initial.py
.gitignore
letsprepare/migrations/0002_auto_20201006_1943.py
letsprepare/migrations/__pycache__/0002_auto_20201006_1943.cpython-38.pyc
letsprepare/migrations/__pycache__/0002_auto_20201006_1943.cpython-38.pyc
online_test/__pycache__/test_settings.cpython-38-pytest-5.4.3.pyc
letsprepare/migrations/__pycache__/0002_auto_20201004_1457.cpython-38.pyc
yaksh/__pycache__/test_models.cpython-38-pytest-5.4.3.pyc
yaksh/__pycache__/test_views.cpython-38-pytest-5.4.3.pyc
.gitignore
yaksh/evaluator_tests/__pycache__/__init__.cpython-38.pyc
yaksh/evaluator_tests/__pycache__/test_bash_evaluation.cpython-38-pytest-5.4.3.pyc
yaksh/evaluator_tests/__pycache__/test_java_evaluation.cpython-38-pytest-5.4.3.pyc
yaksh/evaluator_tests/__pycache__/test_python_evaluation.cpython-38-pytest-5.4.3.pyc
yaksh/evaluator_tests/__pycache__/test_scilab_evaluation.cpython-38-pytest-5.4.3.pyc
yaksh/evaluator_tests/__pycache__/test_simple_question_types.cpython-38-pytest-5.4.3.pyc
yaksh/evaluator_tests/__pycache__/test_r_evaluation.cpython-38-pytest-5.4.3.pyc
yaksh/live_server_tests/__pycache__/selenium_test.cpython-38-pytest-5.4.3.pyc
yaksh/management/commands/__pycache__/__init__.cpython-38.pyc
yaksh/migrations/0004_auto_20201022_0821.py
yaksh/migrations/0006_remove_test_series_created_by.py
yaksh/migrations/0001_initial.py
yaksh/migrations/0002_auto_20201014_1641.py
current_affairs/08-10-2020.json
grades/migrations/0001_initial.py
grades/tests/__pycache__/__init__.cpython-38.pyc
yaksh/__pycache__/base_evaluator.cpython-38.pyc
yaksh/__pycache__/python_assertion_evaluator.cpython-38.pyc
yaksh/evaluator_tests/__pycache__/test_c_cpp_evaluation.cpython-38-pytest-5.4.3.pyc
yaksh/evaluator_tests/__pycache__/test_grader_evaluation.cpython-38-pytest-5.4.3.pyc
yaksh/evaluator_tests/__pycache__/test_python_stdio_evaluator.cpython-38-pytest-5.4.3.pyc
yaksh/live_server_tests/__pycache__/__init__.cpython-38.pyc
yaksh/live_server_tests/__pycache__/load_test.cpython-38-pytest-5.4.3.pyc
yaksh/management/commands/__pycache__/create_moderator.cpython-38.pyc
yaksh/migrations/0003_auto_20201022_0814.py
yaksh/migrations/0005_auto_20201022_0825.py
yaksh/migrations/0007_test_series_created_by.py
yaksh/migrations/0008_remove_test_series_created_by.py
yaksh/migrations/0009_test_series_created_by.py
yaksh/migrations/__pycache__/0002_auto_20201014_1641.cpython-38.pyc
yaksh/migrations/__pycache__/0003_auto_20201022_0814.cpython-38.pyc
yaksh/migrations/__pycache__/0004_auto_20201022_0821.cpython-38.pyc
yaksh/migrations/__pycache__/0005_auto_20201022_0825.cpython-38.pyc
yaksh/migrations/__pycache__/0006_auto_20201004_1525.cpython-38.pyc
yaksh/migrations/__pycache__/0006_remove_test_series_created_by.cpython-38.pyc
yaksh/migrations/__pycache__/0007_currentaffairs.cpython-38.pyc
yaksh/migrations/__pycache__/0007_test_series_created_by.cpython-38.pyc
yaksh/migrations/__pycache__/0008_auto_20201002_1814.cpython-38.pyc
yaksh/migrations/__pycache__/0008_remove_test_series_created_by.cpython-38.pyc
yaksh/migrations/__pycache__/0009_test_series_created_by.cpython-38.pyc
yaksh/migrations/__pycache__/0009_update.cpython-38.pyc
yaksh/migrations/__pycache__/0010_auto_20201003_1933.cpython-38.pyc
yaksh/scripts/__pycache__/__init__.cpython-38.pyc
yaksh/scripts/__pycache__/current_affairs.cpython-38.pyc
yaksh/scripts/epaperscraper/08-10-2020.json
yaksh/scripts/epaperscraper/30Sept.json
yaksh/scripts/epaperscraper/Current Affairs AI.py
yaksh/scripts/epaperscraper/today.json
yaksh/scripts/epaperscraper/.vscode/settings.json
yaksh/scripts/epaperscraper/epaperscraper/08-10-2020.json
yaksh/scripts/epaperscraper/epaperscraper/09-10-2020.json
yaksh/scripts/epaperscraper/epaperscraper/today_test.json
yaksh/scripts/epaperscraper/epaperscraper/.vscode/settings.json
yaksh/scripts/epaperscraper/epaperscraper/__pycache__/__init__.cpython-36.pyc
yaksh/scripts/epaperscraper/epaperscraper/__pycache__/settings.cpython-36.pyc
yaksh/scripts/epaperscraper/epaperscraper/spiders/__pycache__/__init__.cpython-36.pyc
yaksh/scripts/epaperscraper/epaperscraper/spiders/__pycache__/epaper_spider.cpython-36.pyc
yaksh/scripts/epaperscraper/Jupyter notebook/bow_vectorizer_joblib
yaksh/scripts/epaperscraper/Jupyter notebook/Current Affairs AI.ipynb
yaksh/scripts/epaperscraper/Jupyter notebook/current_affairs_classification_joblib
yaksh/scripts/epaperscraper/Jupyter notebook/.ipynb_checkpoints/Current Affairs AI-checkpoint.ipynb
yaksh/templatetags/__pycache__/test_custom_filters.cpython-38-pytest-5.4.3.pyc
yaksh/tests/__pycache__/__init__.cpython-38.pyc
yaksh/tests/__pycache__/test_code_server.cpython-38-pytest-5.4.3.pyc
yaksh_data/data/Firsy/myfile_modern.yaml
