{% extends "base4.html" %}
{% load static %}

{% block title %} Quit Quiz {% endblock %}

{% block script %}
<script>document.addEventListener('contextmenu', event => event.preventDefault());</script>
{% endblock %}

{% block content %}
<center>
<div class="col-md-8">
    <h3 class="sub-head">&diamond; Submission Status &diamond;</h3>
    <table class="table table-bordered table-responsive-sm" >
        <thead>
            <tr class="text-center bg-light">
                <th> Question</th>
                <th style="color: lightslategray;"> Status </th>
                <th></th>
            </tr>
        </thead>

        {% for question in paper.questions.all %}
            <tbody class="bg-white text-center">
                {% if question in paper.questions_answered.all %}
                    <tr class="text-dark bg-white">
                    <td> {{ question.summary }} </td>
                    <td> Attempted </td>
                    <td class="text-center"><i class="fa fa-check-circle text-success" style="font-size: 40px; font-weight: 900;"></i></td>
                {% else %}
                    <tr style="background-color: #d6dfe7;">
                    <td> {{ question }} </td>
                    <td> Not completed </td>
                    <td class="text-center"><i class="fa fa-check-circle-o" style="font-size: 30px; color: #c58f8f;"></i></td>
                {% endif %}
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
</center>

    {% if paper.question_paper.quiz.is_exercise %}
	    <center><h4> Are you sure you wish to quit the Exercise?</h4></center>
    {% else %}
        <center><h4>Your current answers are saved.</h4></center>
        <center><h4> Are you sure you wish to quit the exam?</h4></center>
        <center><h4> Be sure, as you won't be able to restart this exam.</h4></center>
    {% endif %}
	<form class="mb-3" action="{% url 'yaksh:complete' paper.attempt_number module_id paper.question_paper.id course_id %}" method="post">
	{% csrf_token %}
	<center>
        <button class="btn btn-outline-success btn-lg" type="submit" name="yes">Yes</button>
        <a class="btn btn-outline-danger btn-lg" name="no" href="{% url 'yaksh:start_quiz' paper.attempt_number module_id paper.question_paper.id course_id %}">No</a>
    </center>
	</form>
{% endblock content %}
