table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 992px;
    margin: auto;
  }
  
  .correct-row {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .wrong-row {
    background-color: #c3e6cb;
  }

  table a {
      font-weight: 600;
  }

  .submission-detail .card {
      margin-top: 1.5rem;
  }

  .submission-detail .question {
      font-weight: 600;
      font-size: 17px;
  }

  .submission-detail .card .choice-no , .submission-detail .card .choice{
      height: 35px;
      background-color: #f8f8f8;
      width: 35px;
      text-align: center;
      border: 1px solid #ccc;
      color: #555555;
      border-radius: 4px;
      font-weight: 700;
      line-height: 30px;
      display: inline-block;
  }

  .submission-detail .card .choice {
      width: auto;
      margin-left: 0.5rem;
      padding: 0 1rem;
      color: #000;
      font-weight: 500;
  }

  .submission-detail .card .correct span {
      background-color: #28a745;
      color: #ffffff;
  }

  .submission-detail .card .incorrect span {
      background-color: #e63b2f;
      color: #ffffff;
  }

  .submission-detail .card .fa-check {
      font-size: 17px;
      color: #28a745;
  }

  .submission-detail .card .fa-times {
      font-size: 17px;
      color: #e63b2f;
  }

