{% extends 'portal_pages/base2.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" href=" {% static 'portal_pages/style/tests.css' %}" />
{% endblock %}
{% block title %}Course Module{% endblock %}
{% block content %}
<div class="container-lg">
        <section id="tests">
            <div class="border rounded">
                <h4 class="border font-weight-bold shadow-sm rounded mb-0 bg-white p-3">{{ module }} - Take Test</h4>
                <div id="take-test" class="tests p-4">
                    <div class="row">            
                        {% for qp in question_papers %}
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4>{{ qp.code }}</h4>
                                    <p>{{ qp.name }}</p>
                                    <ul class="test-details">
                                        <li><i class="fa fa-question-circle mr-1"></i> 10 Questions</li>
                                        <li><i class="fa fa-check mr-1"></i> 16 Marks</li>
                                        <li><i class="fa fa-clock-o mr-1"></i> 30 Minutes</li>
                                    </ul>
                                    <div class="nav-button">
                                        <div>
                                            <a href="#" class="performance"><i class="fa fa-book mr-2"></i>Performance</a>
                                            {% if qp.available %}
                                                <a href="/exam/start/{{qp.id}}/{{module_id}}/{{course_id}}/" class="start-btn">Start Test</a>
                                                {% else %}
                                                <a href="/exam/start/{{qp.id}}/{{module_id}}/1/" class="danger-btn">Start Test</a>
                                            {% endif %}
                                        </div>
                                        <div class="attempts">Attempts<br>{{ qp.attempts}} / 2</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
