{% extends 'portal_pages/current-affairs.html' %}
{% load static %}

                {% block connt %}
                <div class="news mb-3">
                    <div class="news-head">
                        <h2><b>{{ ca.title }}</b></h2>
                        <span class="date"><i class="fa fa-calendar"></i>{{ ca.pubDate }}</span>
                    </div>
                    <div class="news-content">
                        <img src="{% static 'portal_pages/images/news-1.jpg' %}" alt="News-1" class="main-img">
                        <div>

                            <p>{{ ca.news }}</p>
                            <p>Source: <a href="{{ ca.link }}">The Hindu</a></p>
                        </div>
                    </div>

                </div>
                {% endblock %}
            