{% extends 'portal_pages/base2.html' %}
{% load static %}
{% load socialaccount %}
{% load static %}
{% block cssfile %}
<link rel="stylesheet" href=" {% static 'portal_pages/style/test-series.css' %}" />
<script src="{% static 'portal_pages/js/test-series.js' %}"></script>
    <link rel="stylesheet" href=" {% static 'portal_pages/style/current-affairs.css' %}" />
    <link rel="stylesheet" href=" {% static 'portal_pages/style/index.css' %}" />
{% endblock %}

{% block title %}Home - Mission PCS{% endblock %}

{% block content %}
<!--Corousel / Slider -->
{% if messages %}
      {% for message in messages %}
          <div class="alert alert-dismissible alert-{{ message.tags }}">
              <button type="button" class="close" data-dismiss="alert">
                  <i class="fa fa-close"></i>
              </button>
              <strong>{{ message }}</strong>
          </div>
          <br>
      {% endfor %}
  {% endif %}
<div class="container-fluid gradient-bg">
  
  <div class="row">
    <div id="carouselIndicators2" class="carousel slide col-12 col-lg-8 col-xl-9" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselIndicators2" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators2" data-slide-to="1"></li>
        <li data-target="#carouselIndicators2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 cr-prop" src="{% static 'portal_pages/images/offer_2.jpg' %} " alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 cr-prop" src="{% static 'portal_pages/images/offer_3.jpg' %} " alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 cr-prop" src=" {% static 'portal_pages/images/offer_4.jpg' %} " alt="Second slide">
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-md-12 col-lg-4 col-xl-3 text-center">
      <div class="p-2">
      <h5>
      Select Your Exam
      </h5>
      <!-- Button trigger modal -->
   <div>
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
           {{ current_course }}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
       </button>
         <!-- Modal -->
       <div class="modal fade select-exam-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Select Your Exam</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
               </div>
               <div class="modal-body">
                   <ul class="">
                      {% for course in courses %}
                         {% if current_course.id == course.id %}
                         <li><a class="exams-list bg-success text-white" href="/exam/dashboard/{{course.id}}" data-catid="{{ course.id }}">{{ course }}</a></li>
                         {% else %}
                         <li><a class="exams-list" href="/exam/dashboard/{{course.id}}" data-catid="{{ course.id }}">{{ course }}</a></li>
                         {% endif %}
                         
                      {% endfor %}
                      {% if rest_courses %}
                        <p>--- Not Enrolled ---</p>
                        {% for rest_course in rest_courses %}
                          <li class="my-2"><button class="btn btn-secondary w-100" data-catid="{{ rest_course.id }}" disabled>{{ rest_course }}</button><a href="{% if user.is_authenticated %}{% url 'yaksh:enroll_dash' rest_course.id %}{% else %}{% url 'yaksh:anon_enroll' rest_course.id %}{% endif %}">Enroll Now</a></li>
                        {% endfor %}
                      {% endif %} 
                     </ul>
               </div>
               <div class="modal-footer">
               <button type="button" class="btn btn-danger px-3 btn-sm " data-dismiss="modal">Close</button>
               </div>
           </div>
           </div>
       </div>
     </div>
    </div>
     <!-- <div class="dropdown">
     <button class=" dropdown-toggle btn btn-primary" type="button" data-toggle="dropdown">{{ current_course }}
     <span class="caret"></span></button>
     <div class="dropdown-menu">
       {% for course in courses %}
         <a class="exams-list dropdown-item" href="/exam/dashboard/{{course.id}}" data-catid="{{ course.id }}">{{ course }}</a>
         {% endfor %}
     </div>
     </div> -->
     <div class="card lets-start">
         <div class="card-head">
             <h4>
                 Let's Start Learning
             </h4>
               <a href="/exam/subjects/{{ current_course.id }}" class="card-body">
                   <img src=" {% static 'portal_pages/images/subject_icon.png' %}" alt="Subjects icon" />
                   <h6 class="card-title">Subjects</h6>
               </a>
                 <a href="http://127.0.0.1:8000/letsprepare/exam/?id={{ prevpap }}" class="card-body">
                     <img src=" {% static 'portal_pages/images/test_icon_2.png' %} " alt="Previous Paper Icons" />
                     <h6 class="card-title">Previous Year Papers</h6>
                 </a>
                 {% if user.is_authenticated %}
                 <a href="{% url 'yaksh:test_series' %}" class="card-body">
                     <img src=" {% static 'portal_pages/images/paper_icon_2.png'  %}" alt="Test Icon" />
                     <h6 class="card-title">Set up Your goals</h6>
                 </a>
                 {% else %}
                 <a href="#" class="card-body login-register">
                    <img src=" {% static 'portal_pages/images/paper_icon_2.png'  %}" alt="Test Icon" />
                    <h6 class="card-title">Set up Your goals</h6>
                </a>
                {% endif %}
                 <a href="#announcements" class="card-body">
                     <img src=" {% static 'portal_pages/images/announ_icon.png'  %}" alt="Announcements icon" />
                     <h6 class="card-title">Announcements</h6>
                 </a>
                 <a href="{% url 'letsprepare:all_current_affairs' %}" class="card-body">
                     <img src=" {% static 'portal_pages/images/news-icon.jpg'  %}" alt="News icon" />
                     <h6 class="card-title">Current Affairs</h6>
                 </a>
         </div>
     </div>
 </div>
  </div>
  </div>
  <section class="goals bg-white test-series">
    <h2>Setup Your Goals</h2>
    {% if user.is_authenticated and t_serieses %}
    <div class="container">
    <div class="row ">
      {% for t_series in t_serieses %}
      <div class="col-lg-6">
          <div class="card test-card mb-3">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <h5 class="card-title">{{ t_series.test_series_name }}</h5>
                      <button id="delete-series" class="btn btn-danger" data-toggle="modal" data-target="#delete-series-{{ t_series.id }}">X</button>
                       <!-- Delete Modal -->
                          <div class="modal fade" id="delete-series-{{ t_series.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Delete {{ t_series.test_series_name }}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Do you want to delete {{ t_series.test_series_name }} ?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <a href="/exam/delete-series/{{ t_series.id }}" class="btn btn-danger">Delete</a>
                                </div>
                              </div>
                            </div>
                          </div>
                  </div>
                  <h6 class="card-subtitle mb-2 light-text">Completed Tests: 3 / 12</h6>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6 class="card-subtitle mt-2 mb-2 light-text">Next Test</h6>
                  <div class="card-foot d-flex flex-wrap justify-content-between">
                    {% load custom_filters %}
                    {% with next_tests=t_series.tests.all|in_date:today %}
                      {% if next_tests.first %}
                        
                        <div class="sub-card">
                          <h6>{{ next_tests.first.test_name }}</h6>
                          <div class="test-info"><small>
                              <i class="fa fa-question-circle mr-1"></i> 10
                              Questions
                              </small>
                              <small><i class="fa fa-check mr-1"></i>
                              16 Marks</small>
                              <small><i class="fa fa-clock-o mr-1"></i>30 Minutes</small>
                          </div>
                        <div class="text-center">
                          {% if next_tests.first.test_date == today %}
                            <a class="btn btn-primary mb-1" href="/exam/start/{{next_tests.first.quiz.questionpaper_set.get.id}}/{{next_tests.first.quiz.learningunit_set.get.learning_unit.get.id}}/{{next_tests.first.quiz.learningunit_set.get.learning_unit.get.learning_module.get.id}}/" class="btn-1">Start</a>
                          {% endif %}
                          <div class="date">Test Date: {{ next_tests.first.test_date }}</div>
                        </div>
                      </div>
                        
                      {% else %}
                      <div class="sub-card">
                          <h6>No Tests Yet</h6>
                          <div class="date">Please add a test</div>
                      </div>
                      {% endif %}
                      {% endwith %}
                      
                      <div class="card-btn">
                        
                          <a href="#" class="btn-1">Performance</a>
                                                              <!-- Add Tests Button trigger modal -->
                          <a href="#" class="btn-1" data-toggle="modal" data-target="#add-test-{{ t_series.id }}">
                            Add Test
                          </a>

                          <!-- Modal -->
                          <div class="modal fade" id="add-test-{{ t_series.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <form action='{% url "yaksh:add_test_to_series" %}' method="POST">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Add Test to {{ t_series.test_series_name }}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">

                                          {% csrf_token %}
                                          <select class="form-control" name="test" id="select-quiz">
                                              <option value="none">Select Quiz</option>
                                              {% for quiz in quizzes_1 %}
                                              <option value="{{ quiz.id }}">{{ quiz.quiz_code }}</option>
                                              {% endfor %}
                                          </select>
                                          <input class="form-control" type="date" name="date" id="quiz-date">
                                          <select class="form-control" name="test-series" id="select-test-series" style="display: none;">
                                              <option value="{{ t_series.id }}">{{ t_series.id }}</option>
                                          </select>

                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <input class="btn btn-success" type="submit">
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>

                          <a href="#" class="btn-1" type="button" data-toggle="modal" data-target="#test-series-{{ t_series.id }}">View Details</a>
                      </div>
                          <!-- When View Details Clicked ===> Model View for Test-Series -->
                          <div class="modal fade" id="test-series-{{ t_series.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalCenterTitle">Test Series</h5>

                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <h5 class="card-title">{{ t_series.test_series_name }}</h5>
                                          <h6 class="card-subtitle mb-2 light-text">Completed Tests: 3 / 12</h6>
                                          <div class="progress mb-2">
                                              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <h6 class="card-subtitle mt-2 mb-0 light-text">Description</h6>
                                          <p>{{ t_series.test_series_description }}</p>

                                          <div class="completed-test">
                                              <div class="head">
                                                  <center>
                                                      <h6 class="card-subtitle mt-2 light-text mb-3"><b>Completed Tests</b></h6>
                                                  </center>
                                              </div>
                                              <div class="test-body">
                                                  <a class="mock-test" href="#">
                                                      <h6>Mock Test - 4</h6>
                                                      <div class="badge badge-pill badge-success">Test Date: 30 Aug</div>
                                                  </a>
                                              </div>
                                          </div>
                                          <div class="upcoming-test">
                                              <div class="head">
                                                  <center>
                                                      <h6 class="card-subtitle light-text mb-3"><b>Upcoming Tests</b></h6>
                                                  </center>
                                              </div>
                                              <div class="test-body">
                                                  {% for test in t_series.tests.all %}
                                                  <div class="row justify-content-center align-items-center">
                                                      <a class="col-10 mock-test" href="#">
                                                      <h6>{{ test.test_name }}</h6>
                                                      <div class="badge badge-pill badge-success">{{ test.test_date }}</div>
                                                  </a>
                                                  <a href="/exam/delete-test/{{ test.id }}"  class="col-1 badge badge-pill badge-danger">X</a><!--/exam/delete-test/{{ test.id }}-->

                                                  </div>
                                                  {% empty %}
                                                  <a class="mock-test" href="#">
                                                      <h6>No Tests Yet</h6>
                                                  </a>
                                                  {% endfor %}
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
  </div>
    {% else %}
      
      <p>Hey! You can plan things ahead by Setting up your Goals. Click on "Create Goals" to create your own test series. You can add tests in Test Series and schedule it according to your time</p>
      {% if user.is_authenticated %}
      <a href="{% url 'yaksh:test_series' %}" class="setup-goals">Create Goals</a>
      {% else %}
      <button class="setup-goals login-register">Create Goals</button>
      {% endif %}    
    {% endif %}
  </section>
    <!-- Learning Corner  -->
    <div class="rv-gradient">
        <div class="container text-center p-4">
            <h3 class="sub-head">&diamond; Suggested Free Tests &diamond;</h3>
          <div class="row">
              
              <div class="col-12">
                  <div class="free-tests">
                      {% for quiz in quizzes %}
                        <div class="card">
                          <span>Free</span>
                          <div class="card-body">
                              <div>
                                  <div class="d-flex justify-content-around">
                                      <p class="card-text"><b>{{ quiz.code }}</b></p>
                                  <p class="card-text">{{ quiz.name }}</p>
                                  </div>
                                  <small>
                                  <i class="fa fa-question mr-1"></i> {{ quiz.total_questions }}
                                  Questions
                                  </small>
                                  <small><i class="fa fa-check mr-1"></i>
                                  {{ quiz.weightage }} Marks</small>
                                  <small><i class="fa fa-clock-o mr-1"></i>{{ quiz.duration }} Minutes</small>
                              </div>
                              <div class="badge badge-primary px-3 py-1">{{ quiz.module_name }}</div>
                          </div>
                          <a href="/exam/start/{{quiz.qp}}/{{quiz.learning_unit}}/{{quiz.module_id}}/" class="start-test-btn float-right">
                              Start Test <i class="fa fa-caret-right"></i>
                          </a>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
    </div>
        <div class="container-xl text-center p-4">
          
          
            <!-- Test Series -->
            <!-- <section id="test-series" class="test-series">
              <h3 class="sub-head">&diamond; Suggested Test Series &diamond;</h3>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                      <div class="card-body test-prop">
                        <img src="{% static 'new_homepage/images/sample.webp' %} ">
                        <h6>Ancient Histrory test Series for UPPCS</h6>
                        <span>379 TOTAL TEST | <a href="#">12 FREE TEST</a></span>
                        <p>43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                        </p>
                      </div>
                      <button class="view-test">View Test Series</button>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                      <div class="card-body test-prop">
                        <img src="{% static 'new_homepage/images/sample.webp' %}">
                        <h6>Ancient Histrory test Series for UPPCS</h6>
                        <span>379 TOTAL TEST | <a href="#">12 FREE TEST</a></span>
                        <p>43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                        </p>
                      </div>
                      <a href="#" class="view-test">View Test Series</a>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                      <div class="card-body test-prop">
                        <img src="{% static 'new_homepage/images/sample.webp' %}">
                        <h6>Physics test Series for BPSC</h6>
                        <span>379 TOTAL TEST | <a href="#">12 FREE TEST</a></span>
                        <p>43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                        </p>
                      </div>
                      <a href="#" class="view-test">View Test Series</a>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                      <div class="card-body test-prop">
                        <img src="{% static 'new_homepage/images/sample.webp' %}">
                        <h6>Physics test Series for BPSC</h6>
                        <span>379 TOTAL TEST | <a href="#">12 FREE TEST</a></span>
                        <p>43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                           43 Chapter Test - Tier II<br>
                        </p>
                      </div>
                      <a href="#" class="view-test">View Test Series</a>
                    </div>
                  </div>
                </div>
                <a href="#" class="view-more-btn mt-5"><i class="fa fa-arrow-down"></i></a>
                <p class="view-more-text">Explore all test series</p>
              </div>
            </section> -->
            
        
            {% load tz %}
        <!-- Current Affairs -->
        <h3 class="sub-head">&diamond; Current Affairs &diamond;</h3>
        <div class="col">
          <div class="affairs">
              {% for ca in current_affairs %}
              <div class="card mt-2 mb-3">
                  <div class="row p-4">
                      <div class="col-md-4">
                          <div class="card-img-left">
                              <img src=" {% static 'portal_pages/images/news-1.jpg'  %}" class="card-img-left w-100" alt="news-1">
                              <h6 class="post-date" id="date">{% localtime off %}
                                {{ ca.pubDate }}
                            {% endlocaltime %}</h6>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class=" ml-2 card-head">
                          </div>
                          <div class="card-body text-left">
                              <h3 id="news-head">
                                  <a href="#"> <b>{{ ca.title }}</b> </a>
                              </h3>
                              <!-- <p class="card-text"><a href="#" class="badge badge-primary"><span class="fa fa-tag mr-2"></span>Economy & Banking Current Affairs</a></p> -->
                              <p class="card-text text-secondary">{{ ca.summary }}...
                                  <h6><a href="{% url 'letsprepare:current_affair-detail' ca.id %}" class="readmore-btn">Read More</a></h6>
                                </p>
                                <p>Source : <a href="{{ ca.link }}"> The Hindu</a></p>

                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
          <a href="{% url 'letsprepare:all_current_affairs' %}" class="view-more-btn mt-5"><i class="fa fa-arrow-down"></i></a>
          <p class="view-more-text">View All Current Affairs</p>
      </div>
      <section id="updates">
        <h3 class="sub-head mb-0">&diamond; Latest Updates &diamond;</h3>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 pt-5">
            <div class="card">
              <div class="card-body">
                <h4>Results</h4>
                <div>
                {% for result in updates_result %}
                <a href="{{ result.link }}"><p>{{ result.headline }}</p></a>
                {% endfor %}
                </div>
                <!-- <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a>
                <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a>
                <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a>
                <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a> -->
              </div>
              <a href="{% url 'letsprepare:update_result' %}" class="view-more">View More</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 pt-5">
            <div class="card">
              <div class="card-body">
                <h4>Admit Card</h4>
                <div>
                {% for admit_card in admit_cards %}
                <a href="{{ admit_card.link }}"><p>{{ admit_card.headline }}</p></a>
                {% endfor %}
                </div>
                
                <!-- <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a>
                <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a>
                <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a>
                <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a> -->
              </div>
              <a href="{% url 'letsprepare:update_admit_card' %}" class="view-more">View More</a>


            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 pt-5" id="announcements">
            <div class="card">
              <div class="card-body">
                <h4>Announcements</h4>
                <div>
                {% for anncment in update_announcements %}
                <a href="{{ anncment.link }}"><p>{{ anncment.headline }}</p></a>
                {% endfor %}
                </div>
              </div>
              <a href="{% url 'letsprepare:update_announcement' %}" class="view-more">View More</a>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock %}