<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Year Tests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/tests.css" />
</head>

<body>
    <header>
        <!-- ######### NAVBAR ########## -->
        <div class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 shadow-lg">
            <!-- ####### Logo for Website ####### -->
            <a class="navbar-brand" href="#">
                <img src="./images/logo.png" alt="Logo for mission pcs" />
            </a>
            <nav class="my-2 my-md-0 mr-md-3 d-flex justify-content-center flex-wrap p-2">
                <a class="p-2" href="#">Home</a>
                <a class="p-2" href="#">Test Series</a>
                <a class="p-2" href="#">Subjects</a>
                <a class="p-2" href="#">Prev. Papers</a>
                <button class="btn" href="#">Logout</button>
            </nav>
        </div>
    </header>
    <!-- ###################### Test Sections ################ -->
    <section id="tests">
        <div class="head">
            <h2 class="head-text"> <b>Previous Year Papers</b></h2>
        </div>
        <div class="tests">
            <!-- ################## Test 1 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_1</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 2 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_2</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 3 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_3</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 4 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_4</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 5 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_5</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 6 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_6</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 7 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_7</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 8 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_8</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 9 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_9</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 10 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_10</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 11 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_11</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 12 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_12</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
            <!-- ################## Test 13 ####################### -->
            <div class="card ">
                <div class="card-body d-flex p-2 align-items-center flex-wrap justify-content-between">
                    <div>
                        <p class="card-text"><b>MEDH_13</b></p>
                    </div>
                    <div>

                        <p>Muslim invasion in India, slave dynasty <br>
                            <small>
                    <img src="./images/question_icon.png" alt="Question icon" /> 10
                    Questions
                    </small>
                            <small><img class="mr-1" src="./images/marks_icon.png" alt="Marks icon" />
                    16 Marks</small>
                            <small><img class="mr-1" src="./images/time_icon.png" alt="time icon" />30 Minutes</small>
                        </p>
                    </div>
                    <div>
                        <span class="badge badge-success"><h6>Attempt 0 / 3</h6></span>
                    </div>
                    <div class="card-button">

                        <a href="#"><span class="badge badge-secondary">Performance</span></a>
                        <button class="btn">Start Test</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer class="d-flex p-2 align-items-center flex-wrap justify-content-around">
        <div>
            <img src="./images/logo.png" alt="missionpcs">
        </div>
        <div class="d-flex align-items-center">
            <img src="./images/icon-location.svg" alt="Location">
            <p>We are 100% online. Please keep visiting!!</p>
        </div>
        <div class="d-flex align-items-center">
            <img src="./images/icon-email.svg" alt="contact">
            <p>missionpcs.help@gmail.com</p>
        </div>
    </footer>
</body>

</html>