{% extends 'portal_pages/base2.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" href=" {% static 'portal_pages/style/select-exam.css' %}" />
{% endblock %}

{% block content %}
<section id="select-exam">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-3">
                <h2>Select Your Exam</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6">
                <form  action="" method="POST" class="exams">
                    {% csrf_token %}
                    <!-- ######### Exam Category 1 -->
                    {% for course in courses %}
                    <div class="exam-box">
                        <input type="checkbox" name="{{ course }}" id="{{ course.id }}" />
                        <label for="{{ course.id }}">{{ course }} Exams</label>
                    </div>
                    {% endfor %}
                    <div class="exam-bottom p-3">
                        <button class="btn btn-primary btn-block mx-auto" type="button" style="max-width: 300px;"> Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

    
{% endblock %}