{% extends 'portal_pages/base2.html' %}
{% load static %}
{% block topfiles %}
    <script src="{% static 'new_homepage/vendor/js/popper.min.js' %} "></script>
{% endblock %}
{% block cssfile %}
    <link rel="stylesheet" href=" {% static 'portal_pages/style/tests.css' %}" />
{% endblock %}
{% block content %}
    <div class="container">
        <section id="tests">
            <div class="head">
                <h2>All Tests</h2>
            </div>
            <div class="tests">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_1</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_2</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_3</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_4</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_5</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_6</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_7</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_8</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_9</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_10</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text"><b>MEDH_11</b></h6>
                        <div class="test-info">
                            <h6>Muslim invasion in India, slave dynasty</h6>
                            <div class="test-details">
                                <span><i class="fa fa-question-circle mr-1"></i> 10 Questions</span>
                                <span><i class="fa fa-check mr-1"></i> 16 Marks</span>
                                <span><i class="fa fa-clock-o mr-1"></i> 30 Minutes</span>
                            </div>
                        </div>
                        <div>
                            <span class="attempts">Attempt 0 / 3</span>
                        </div><div class="dropdown">
                            <button type="button" class="drop-btn" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Performance</a>
                              <a class="dropdown-item" href="#">Start Test</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}