body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    z-index: 1;
    margin-bottom: 0px;
}

nav a {
    color: white !important;
    text-decoration: none !important;
}

nav button {
    color: white;
    font-weight: 900;
    background-image: linear-gradient( to right, rgb(139, 255, 7), rgb(20, 236, 0));
}

#offers {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
}

.bd-example {
    width: 1452px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img {
    height: 500px;
    width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 55px;
    color: rgb(132, 134, 130);
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 55px;
    color: rgb(139, 141, 137);
}

#learning-corner {
    padding-top: 10%;
}

#learning-corner .card {
    text-align: center;
    width: 400px;
    border-radius: 30px;
}

#learning-corner .card-head {
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(20, 236, 0);
    border: none;
}

#learning-corner .card-body a {
    border-radius: 15px;
    width: 250px;
    height: 75px;
}

.learning-cards {
    height: 75px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
}

.learning-cards:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.767);
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
}

.learning-cards a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#free-tests {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#free-tests .head {
    color: rgb(20, 236, 0);
    font-weight: bolder;
    text-align: center;
}

#free-tests .card {
    width: 900px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    margin-left: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.767);
}

.card-button button {
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
}

small img {
    width: 10px;
    height: 10px;
}

#test-series {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient( to right, rgb(139, 255, 7), rgb(20, 236, 0));
}

#test-series .head {
    color: white;
    font-weight: bolder;
    text-align: center;
}

#test-series .foot {
    text-align: center;
}

#test-series .foot button {
    color: white;
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
}

#test-series .card-deck {
    width: 1452px;
    margin-left: auto;
    margin-right: auto;
}

#test-series .test-card {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#test-series img {
    width: 50px;
    height: 50px;
}

#test-series .card-header {
    background-image: linear-gradient( to top, rgba(255, 0, 0, 0), rgba(0, 153, 255, 0.842));
}

#test-series .card-body {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.555);
}

#test-series button {
    background-image: linear-gradient( to top, rgba(255, 0, 0, 0), rgba(0, 153, 255, 0.842));
}

#test-series button:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.767);
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
}

#current-affairs {
    width: 1452px;
    margin-left: auto;
    margin-right: auto;
}

#current-affairs .head {
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
    color: whitesmoke;
}

#current-affairs .affairs {
    width: 100%;
}

#current-affairs .card {
    width: 100%;
}

#current-affairs .card img {
    width: inherit;
    height: 150px;
}

#current-affairs #date img {
    width: 20px;
    height: 20px;
}

#current-affairs button {
    background-image: linear-gradient( to top, rgba(255, 0, 0, 0), rgba(0, 153, 255, 0.842));
}

#current-affairs button:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.767);
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
}

footer {
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 4, 255));
    height: 300px;
    padding-top: 50px;
    color: white;
}

@media only screen and (max-width: 1500px) {
    .bd-example {
        width: 80%;
    }
    .carousel-item img {
        height: 50%;
        width: 100%;
    }
    #learning-corner {
        margin-top: 0px;
    }
    #learning-corner .card {
        width: 80%;
        border-radius: 25%;
    }
    #offers {
        height: 50%;
    }
    #free-tests .card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }
    #test-series .card-deck {
        width: 80%;
    }
    #current-affairs {
        width: 80%;
    }
}