h3.sub-head {
    font-weight: 600;
    color: #0f2e1c;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}

h3.sub-head::after {
    position: absolute;
    content: '';
    background-color: #28a745;
    border-radius: 60px;
    outline: 4px solid white;
    height: 4px;
    bottom: -10px;
    width: 30px;
    left: calc(50% - 15px);
}

h3.sub-head::before {
    position: absolute;
    content: '';
    background-color: #bbbbbb;
    height: 1px;
    bottom: -8px;
    width: 100%;
    left: 0;
}

.subjects .card {
    border-radius: 0px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.subjects .card h4 {
    font-size: 19px;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}

.subjects .available-test {
    font-size: 13px;
    font-weight: 500;
    color: #9d18f5;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 10px;
}

.subjects .btn-btm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subjects .btn-1 {
    width: 100%;
    display: block;
    background-color: rgb(22, 99, 116);
    color: #ffffff;
    transition: 0.2s ease-in;
    padding: 0.5rem 1rem;
    border: none;
}

.subjects .btn-1:hover {
    background-color: rgb(21, 140, 154);
}

.subjects .btn-2 {
    width: 100%;
    display: inline-block;
    border: none;
    transition: 0.2s ease-in;
    background-color: #28a745;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

.btn-2 {
    text-align: center;
}

.subjects .btn-2:hover {
    background-color: #218838 ;
}
